<% provide(:title, "Sign in") %>
<h1>Dang nhap</h1>
<h2>Noi dung text moi da bi thay doi</h2>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "your_email@email.com" %>

      Mat khau
      <%= f.password_field :password, placeholder: "password" %>

      <%= f.submit "Dang nhap", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Chua co tai khoan? <%= link_to "Dang ki ngay!", signup_path %></p>
  </div>
</div>
