<% provide(:title, 'Đăng kí') %>
<h1>Đăng kí</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label "tên" %>
      <%= f.text_field :name %>

      <%= f.label "email" %>
      <%= f.text_field :email %>

      <%= f.label "mật khẩu" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "gõ lại mật khẩu" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Tạo tài khoản", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
